@import url("https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap");

:root {
  --light-gray: #2b3032a1;
  --primary-color: black;
  --border: #2b303218;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}


body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
ul,
ol {
  margin-bottom: 0.5em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

sup {
  font-size: xx-small;
  vertical-align: super;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 500;
  font-family: 'Be Vietnam', sans-serif;
  background-color: #F3F6F8;
}

.btn-custom {
  color: black;
  background-color: white;
  font-size: 18px;
  font-family: "muse-500", Arial, sans-serif;
  transition: 0.3s all ease-out;
  /* margin-bottom: 50px; */
  padding: 18px;
  border: .5px solid black;
}

.btn-custom:hover {
  box-shadow: 1px 3px 12px 0px #b3b3b3;
  color: white;
  background: black;
}

.card-img-top {
  box-shadow: 1px 3px 12px 0px #b3b3b3;
}

/*************************** NAVBAR **********************/
.navbar {
  height: 70px;
}

.iconic i {
  font-size: 29px;
  color: white;
  margin: 8px;
}

/*************************** FRONT PAGE INTRO **********************/
.intro-header h1 {
  font-size: 59px;
  font-weight: bold;
  color: white;
  margin-top: 100px;
  text-align: center;
}

.main-img-intro img {
  width: 29rem;
  height: 469px;
}

.secondary-img-intro img {
  width: 20rem;
  height: 460px;
}

#event {
  padding: 50px 0;
}

#event .container .row .col-md-4 .card a img {
  opacity: 0.7;
  height: 200px;
}

#event .container .row .col-md-4 .card a img:hover {
  opacity: 1;
  transition: all 0.7s ease-out;
}

#event .container .row .col-md-4 .card .card-text {
  line-height: 1.3;
}

/*************************** APPAREL PAGE **********************/

.apparel-page-header h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 63px;
  color: black;
}

.apparel-page-image {
  background-image: url('https://assets2.mr-mag.com/wp-content/uploads/2017/04/Spring17CatalogImages-02-1024x774.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  box-shadow: 1px 3px 12px 0px #b3b3b3;
}

.single-apparel-page {
  background-image: url('https://images.lululemon.com/is/image/lululemon/NA_Feb18_CollectionsUpdate_M_SpringJackets?$full_width_feature-lg_2x$');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 3px 12px 0px #b3b3b3;
}


.add-apparel-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 14px;
  box-shadow: 1px 3px 12px 0px #b3b3b3;
}


.content {
  display: table-cell;
  vertical-align: middle;
}


/* Iphone X */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .main-img-intro img {
    width: 17rem;
    height: 19rem;
    margin-bottom: 20px;
  }

  .secondary-img-intro img {
    width: 15rem;
    height: 19rem;
    margin-bottom: 20px;
  }

  .intro-header h1 {
    font-size: 42px;
  }

  .apparel-page-header h1 {
    font-size: 49px;
  }

  .clothes-list {
    width: 19rem;
    height: 19rem;
    margin-bottom: 10px;
  }

  .single-apparel-container img {
    width: 21rem;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


  .review-card {
    width: 1rem!important;
    }
  
  .card {
    width: 19.2rem!important;
  }

  .add-review-button {
    margin-left: -91px!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
    font-size: 12px;
  }
}

  /* IPAD PRO*/
  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .secondary-img-intro {
      height: 480px;
    }

    .secondary-img-intro img {
      width: 15rem;
    }
  }