body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  background: rgb(15, 12, 1);
  color: rgb(184, 169, 130);
  box-shadow: -4px 1px 5px #000;
}

a {
  color: rgb(184, 169, 130);
}

a:visited {
  color: rgb(184, 169, 130);
}